
{% extends 'core/base.html' %}

{% block title %} Subscription Page {% endblock %}

{% load static %}

{% block body %}

{% include 'core/navigation.html' %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Subscription</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->




    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-2">ads
	         	</div>

				<div class="col-md-8">
          {% if request.user.client.software == False  %}
	            <div class="alert alert-danger text-center">
	              <p>Subscribe For Unlimited List of movies, software and Video games </p>
	            </div>
              <a href="{% url 'mogasa' %}" class="btn btn-lg btn-block btn-success">Subscribe </a>
              <br>
		    	{% endif %}

             <form action="." method="POST" enctype="multipart/form-data" class="p-5 bg-white border">
                {% csrf_token %}

                <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Name(title)</label>
                    {{form.title}}
                    </div>
                </div>

                <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Fillname</label>
                    {{form.forename}}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Price</label>
                    {{form.price}}
                </div>
              </div>

                <div class="row form-group">
	       <div class="col-md-12 mb-3 mb-md-0">
	         <label class="font-weight-bold" for="fullname">Enter Kind <span style="color : red; font-size: 16px;" >*</span> </label>
					<select class="input-list" name="category"   id="id_category">
								<option value="movie">Movie</option>
								<option value="software">Software</option>
		      </select>
	        </div>
	      </div>



              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Image</label>
                    {{form.image}}
                </div>
              </div>



              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Reqyrements</label>
                  {{form.requrement}}
                </div>
              </div>




                 
               <div class="row form-group">
                <div class="col-md-12">
                  <button type="submit" name="submit"  class="btn btn-success  py-2 px-4 rounded-0">Upload Service</button>
                </div>
              </div>
              


            
        
            </form>
                </div>

                <div class="col-md-2">ads
	         	</div>



               



            </div>
        <!-- /row -->
        </div>
                <!-- /container -->
    </div>
    <!-- /section -->
    <script>
		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].className = 'form-control';
		form_fields[2].className = 'form-control';
        form_fields[3].className = 'form-control';
		form_fields[4].className = 'form-control';
		form_fields[5].className = 'form-control';
	</script>
    {% endblock %}
