<!-- STORE -->
					<div id="store">
						<!-- row -->
						<div class="row">
							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span>New</span>
											<span class="sale">-20%</span>
										</div>
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product01.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#">Product Name Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
												<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product02.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#">Product Name Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
												<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span>New</span>
											<span class="sale">-20%</span>
										</div>
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product03.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#">Product Name Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
												<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<div class="clearfix visible-md visible-lg"></div>

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span>New</span>
										</div>
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product04.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#">Product Name Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
												<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span>New</span>
										</div>
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product05.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#">Product Name Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
												<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span>New</span>
											<span class="sale">-20%</span>
										</div>
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product06.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#">Product Name Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
												<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<div class="clearfix visible-md visible-lg visible-sm visible-xs"></div>

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span>New</span>
											<span class="sale">-20%</span>
										</div>
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product07.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#">Product Name Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
												<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product08.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50</h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#">Product Name Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
												<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- Product Single -->
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product product-single">
									<div class="product-thumb">
										<div class="product-label">
											<span class="sale">-20%</span>
										</div>
										<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
										<img src="{% static './img/product01.jpg' %}" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-price">$32.50 <del class="product-old-price">$45.00</del></h3>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-o empty"></i>
										</div>
										<h3 class="product-name"><a href="#"> Goes Here</a></h3>
										<div class="product-btns">
											<button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
											<button class="primary-btn">ChecDetails</button>
											<button class="main-btn icon-btn"><i class="fa fa-shopping-cart"></i></button>
										</div>
									</div>
								</div>
							</div>
							<!-- /Product Single -->
						</div>
						<!-- /row -->
					</div>
					<!-- /STORE -->
============================================================

form = createproduct(request.POST)
      if form.is_valid():
        print(form.cleaned_data)
            title = form.cleaned_data['title']
            new = Product.objects.create(title=title)
            new = Product()
            new.title = title
            new.save
            return redirect('listings')
	======
	  <form  method="POST" action="."  enctype="multipart/form-data" class="p-5 bg-white border">
        {% csrf_token %}

			 <div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter Username <span style="color : red; font-size: 16px;" >*</span> </label>
	                {{form.title}}
	              </div>
	            </div>
			
			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter Price <span style="color : red; font-size: 16px;" >*</span> </label>
	                {{form.price}}
	              </div>
	            </div>

			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter price_cancel <span style="color : red; font-size: 16px;" >*</span> </label>
	                {{form.price_cancel}}
	              </div>
	            </div>

			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter sample <span style="color : red; font-size: 16px;" >*</span> </label>
	               {{form.sample}}
	              </div>
	            </div>
			
			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter discriptio <span style="color : red; font-size: 16px;" >*</span> </label>
	                <textarea name="description" id="description" cols="30" rows="5" class="form-control" placeholder="Full Product Description" required></textarea>
	              </div>
	            </div>


			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter category <span style="color : red; font-size: 16px;" >*</span> </label>
	               {{form.category}}
	              </div>
	            </div>

			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter Kind <span style="color : red; font-size: 16px;" >*</span> </label>
					<select class="input" name="kind">
								<option class="text-center">--Select--</option>
								<option value="SDFGFFGH">SDFGBVBH</option>
								<option value="SDFGFFGH">SDFGFVGB</option>
								<option value="SDFGFFGH">SDXCFBVF</option>
								<option value="SDFGFFGH">SEDFGFCF</option>
								<option value="SDFGFFGH">DCFVGBHJ</option>
		         		</select>
						 {{form.kind}}
	              </div>
	            </div>

			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter availability <span style="color : red; font-size: 16px;" >*</span> </label>
					 	<select class="input" name="availability">
								<option class="text-center">--Select--</option>
								<option value="SDFGFFGH">SDFGBVBH</option>
								<option value="SDFGFFGH">SDFGFVGB</option>
								<option value="SDFGFFGH">SDXCFBVF</option>
								<option value="SDFGFFGH">SEDFGFCF</option>
								<option value="SDFGFFGH">DCFVGBHJ</option>
		         		</select>
						{{form.availability}}
	              </div>
	            </div>

			



			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter image <span style="color : red; font-size: 16px;" >*</span> </label>
	                  {{form.image}}
	              </div>
	            </div>

			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter Slug <span style="color : red; font-size: 16px;" >*</span> </label>
	                {{form.slug}} 
	              </div>
	            </div>

	                
	       


			<div class="row form-group">
	              <div class="col-md-12 mb-3 mb-md-0">
	                <label class="font-weight-bold" for="fullname">Enter location <span style="color : red; font-size: 16px;" >*</span> </label>
	                 {{form.location}}
	              </div>
	            </div>			
			 
            
			<br>


			 <button type="submit" class="btn btn-success">Log In</button>
            


        </form>



		         		  <form  method="POST" action="."  enctype="multipart/form-data" class="p-5 bg-white border">
      				  {% csrf_token %}
			
					     title:   {{form.title}} <br>
						 price:	{{form.price}} <br>
						 price l:	{{form.price_cancel}} <br>

						 <hr>
						<!-- sample:	{{form.sample}} <br> -->
		             	S: <input type="text" name="sample" id="sample" class="form-control" placeholder="Product Name" required>
     					<!-- descr:	{{form.description}} <br> -->
						D:    <input type="text" name="description" id="description" class="form-control" placeholder="Product Name" required>
						 <!--cate:	{{form.category}} <br>-->
						category: <select class="input" name="category">
										<option>--Select--</option>
										<option>computer</option>
										<option>shoes</option>
										<option>common</option>
				                	</select>
						<!-- kind:	{{form.kind}} <br>-->
						kind : <select class="input" name="kind">
									<option>--Select--</option>
									<option>used</option>
									<option>new</option>
									<option>other</option>
								</select>
						<!-- avail:	{{form.availability}} <br>-->
					 	Availabe : <select class="input" name="availability">
										<option>--Select--</option>
										<option>in stock</option>
										<option>out of stockB</option>
									</select>
						 <!--activ:	{{form.active}}<br>-->
						 <hr>

						 imag:	{{form.image}}<br>
						 slug:	{{form.slug}}<br>
						 <!--user:	{{form.username}}<br>-->
						 
					 	 location:	{{form.location}}<br>
						
						date:	{{form.terminate}}<br> 
					<!--	<input type="hidden" name="terminate" id="terminate"  value="{{now}}" />-->

							{{form.username }}

						<!--

							
						<input type="hidden" name="candidate" id="candidate"  value="{{request.user}}" />
						-->
					
					 <button type="submit" class="btn btn-success">Add Listing</button>
    			  </form>

				  
					 T.{{form.title}}
					P. {{form.price}}
					 Pc. {{form.price_cancel}}
					 S. {{form.sample}}
					 D. {{form.description}} 
					 C. {{form.category}}
					 K .{{form.kind}}
					 A. {{form.availability}}
					 I. {{form.image}}
					 S. {{form.slug}}
					 A. {{form.active}}
					 U. {{form.username}}
					 L. {{form.location}}
					<!-- T. {{form.terminate}}-->
				


				  def Uplod(request):

		      if self.request.user.client.subscription == "Titanium":
            if self.request.user.client.duration == 90:
                          #boon = datetime.now() +  timedelta(days = 90)
                    #existing = boon.strftime("%Y-%m-%d")
            elif self.request.user.client.duration == 30:
                    #my code hire
            elif self.request.user.client.duration == 15:
                    #my code hire
 
        elif self.request.user.client.subscription == "Platnum":
            if self.request.user.client.duration == 30:
                #my code hire
            elif self.request.user.client.duration == 15:
                #my code hire
        elif self.request.user.client.subscription == "Silver":
            if self.request.user.client.duration == 30:
                #my code hire
            elif self.request.user.client.duration == 15:
                #my code hire
        #
				  
    Date = datetime.now() +  timedelta(days = 15)
    formatedDate = Date.strftime("%Y-%m-%d")
            #
    mynow = datetime.now()
    acturedate = mynow.strftime("%Y-%m-%d")
            #
 
    form = createproduct()
    if request.method == 'POST':
        form = createproduct(request.POST or None, request.FILES or None)
        if form.is_valid():
            #
            form.save(commit=False)
            #
            """
            post.description = request.POST.get('description') #request.POST.get
            post.active = False
            post.sample = request.POST.get('sample')
            post.availability = request.POST.get('availability')
            post.kind = request.POST.get('kind')
            post.category = request.POST.get('category')
            """
            form.terminate = acturedate  #request.POST.get('terminate') # candidate acturedate #
            print(acturedate)
            #post.username = request.user
            #
            form.save()
            return redirect('listings')

    form = createproduct()
    context = { 
        'form' : form,
        }
        
    return render(request, 'Uplod.html', context)

	
def Mistakes(request):
    user = request.user
    qs = Product.objects.filter(Q(username =  user)).last()
    form = craetimages()
    if request.method == 'POST':
        form = craetimages(request.POST, request.FILES)
  
        if form.is_valid():
            form.save(commit = False)
            form. product = qs
            form.save()
            return redirect('home')


    context = {    
        'qs' : qs,
        'form' : form,
    }
    return render(request, 'core/mistakes.html', context)















				

						
						
					<div class="profile-usertitle">

						<div class="profile-usertitle-name">
								Marcus Doe 
						</div> name

					<div class="profile-usertitle-job">
							Developer
					</div>posi

					</div> profiletio



					<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					</div>


					<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
						<a href="#">
						<i class="glyphicon glyphicon-home"></i>
						My Wallet </a>
						</li>
						<li>
						<a href="#">
						<i class="glyphicon glyphicon-user"></i>
						My Listing </a>
						</li>
						<li>
						<a href="#" target="_blank">
						<i class="glyphicon glyphicon-ok"></i>
						My Request </a>
						
						</li>
						<li>
						<a href="#">
						<i class="glyphicon glyphicon-flag"></i>
						Help </a>
						</li>
					</ul>
					</div>


				


77





                    <div class="carousel-item col-md-3  active">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="myback-img ">
								<img src="{% static './img/rename.jpg' %}">
                                </div>
                                <div class="myoverlay"></div>
                                <div class="profile-img">
                                    <div class="borders avatar-profile">
								<img src="{% static './img/rename.jpg' %}">
                                    </div>
                                </div>
                                <div class="profile-title">
                                    <a href="#">
                                        <h3>Diane</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="carousel-item col-md-3  ">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="myback-img ">
								<img src="{% static './img/rename.jpg' %}">                
									</div>
                                <div class="myoverlay"></div>
                                <div class="profile-img">
                                    <div class="borders avatar-profile">
                                        <img src="{% static './img/rename.jpg' %}">
                                    </div>
                                </div>
                                <div class="profile-title">
                                    <a href="#">
                                        <h3>Ipsum</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

					
                    <div class="carousel-item col-md-3  ">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="myback-img ">
								<img src="{% static './img/rename.jpg' %}">                
									</div>
                                <div class="myoverlay"></div>
                                <div class="profile-img">
                                    <div class="borders avatar-profile">
                                        <img src="{% static './img/rename.jpg' %}">
                                    </div>
                                </div>
                                <div class="profile-title">
                                    <a href="#">
                                        <h3>Ipsum</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

					
                    <div class="carousel-item col-md-3  ">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="myback-img ">
								<img src="{% static './img/rename.jpg' %}">                
									</div>
                                <div class="myoverlay"></div>
                                <div class="profile-img">
                                    <div class="borders avatar-profile">
                                        <img src="{% static './img/rename.jpg' %}">
                                    </div>
                                </div>
                                <div class="profile-title">
                                    <a href="#">
                                        <h3>Ipsum</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

					
                    <div class="carousel-item col-md-3  ">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="myback-img ">
								<img src="{% static './img/rename.jpg' %}">                
									</div>
                                <div class="myoverlay"></div>
                                <div class="profile-img">
                                    <div class="borders avatar-profile">
                                        <img src="{% static './img/rename.jpg' %}">
                                    </div>
                                </div>
                                <div class="profile-title">
                                    <a href="#">
                                        <h3>Ipsum</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

					
                    <div class="carousel-item col-md-3">
					 <br>
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="myback-img ">
								<img src="{% static './img/rename.jpg' %}">                
									</div>
                                <div class="myoverlay"></div>
                                <div class="profile-img">
                                    <div class="borders avatar-profile">
                                        <img src="{% static './img/rename.jpg' %}">
                                    </div>
                                </div>
                                <div class="profile-title">
                                    <a href="#">
                                        <h3>Ipsum</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


<div class="col-md-2">Ads</div>

				<div class="col-md-8">
				
					<div class="container">
						<div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
							<div class="carousel-inner row w-100 mx-auto" role="listbox">

							</div>
						</div>
					</div>





				</div>

			<div class="col-md-2">Ads</div>


    'internal_css': (
        static_url('summernote/summernote.css'),
    ),
    'internal_js': (
        static_url('summernote/jquery.ui.widget.js'),
        static_url('summernote/jquery.iframe-transport.js'),
        static_url('summernote/jquery.fileupload.js'),
        static_url('summernote/summernote.min.js'),
    ),

    # You can add custom css/js for SummernoteWidget.
    'css': (
        static_url('css/font-awesome.min.css'),
    ),
    'js': (
        static_url('summernote/summernote-ext-highlight.js'),
    ),

    # And also for SummernoteInplaceWidget.
    # !!! Be sure to put {{ form.media }} in template before initiate summernote.
    'css_for_inplace': (
        '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
        static_url('css/font-awesome.min.css'),
        static_url('summernote/summernote.css'),
        static_url('summernote/django_summernote_inplace.css'),
    ),
    'js_for_inplace': (
        '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js',
        static_url('summernote/summernote-ext-highlight.js'),
        static_url('summernote/jquery.ui.widget.js'),
        static_url('summernote/jquery.iframe-transport.js'),
        static_url('summernote/jquery.fileupload.js'),
        static_url('summernote/summernote.min.js'),
    ),