<!-- Modal -->
<div id="myModal" class="modal fade container" role="dialog">
	<div class="modal-dialog-lg">
		<!-- Modal content-->
		<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-center">CONTACT SELLER</h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-success">
							<div class="panel-heading text-center">Seller profile</div>
							<div class="panel-body container">
							<div class="col-md-2">
								<p>Sponsored</p>
							</div>
							<div class="col-md-7">
							<!--messege-->
							 <p class="text-center"> Create Message</p>
							  <div class="col-md-12 col-lg-12 mb-5">
								Main

								</div>
								<!--/messege-->
							</div>
					    	   <div class="col-md-3">
								<p class="text-center"> Seller Profile </p>
						    	<!--profile-->

						    	<!--profile-->
  						   		</div>
							</div>
			 		    </div>
					</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
